.container {
    margin: 50px 0;
    display: flex;

    
}


.card {
    margin: 0 8% !important;
}

.infected {
    border-bottom: 10px solid rgb(0, 0, 250, 0.5);
}


.recovered {
    border-bottom: 10px solid rgb(0, 250, 0, 0.5);
}


.deaths{
    border-bottom: 10px solid rgb(250, 0, 0, 0.5);
}
